.azeret-mono-normal {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
  }

  /* Common Styles */

  .btn-primary{

    width: 244px;
    height: 57px;
    color: #0D1321;
    border-radius: 7px;
    padding: 17px 25px;
    font-size: 20px;
    font-weight: 70;
    background-color: white;
    border: 1px solid rgb(13, 19, 33);
  }

  .paragraph-description{

    font-weight: 300;
    font-size: 16px;
    color: #0D1321;
  }

  /* Header Part */

  .header-0{

    margin-bottom: 75px;
  }
  .header-01{

    display: flex;
    justify-content: space-around;
    margin-top: 38px;
    margin-bottom: 50px;
    
  }
  .header-02{

    width: 1440px;
    height: 652px;
    text-align: center;
    background-image: url("../assets/Hero-bg.png");
    padding-top: 50px;
  }

  .button-02{

    background-color: black;
    color: white;
  }

  .banner-part{

    margin-top: 30px;
    width: 998px;
    height: 581px;
    margin: 0 auto;
  }

  .header-title{

    width: 998px;
    height: 136px;
    font-weight: bolder;
    font-size: 48px;
    color: #0D1321;
    padding-bottom: 2px;
  }

  .para-01{
    width: 852px;
    height: 52px;
    margin: 0 auto;
    margin-bottom: 32px;
  }

  /* Main Part */

  .main-01{

    width: 1000px;
    height: 1100px;
    border-radius: 16px;
    margin: 75px 152px;
    padding: 80px 97px;
    /* flex-direction: column;
    display: flex; */
    background: rgba(13, 19, 33, 0.02);
  }
  .main-final{

  width: 946px;
  height: 336px;
  border-radius: 16px;
  background: linear-gradient(270.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
  }
  .header-03{

    font-size: 32px;
    align-items: center;
    text-align: center;

  }

  .para-02{

    width: 852px;
    height: 52px;
    text-align: center;
    margin: 0 auto;
  }
  .main-div{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    gap: 99px;
    border-radius: 16px;
    background: linear-gradient(270.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
  }

  .header-05{

    width: 390px;
    height: 72px;
    font-weight: bold;
    font-size: 25px;
    color: rgba(13, 19, 33, 0.7);
  }

  .para-03{
    width: 468px;
    height: 52px;
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
  }

  .btn-01{

    width: 171px;
    height: 47px;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    padding: 12px 20px 12px 20px;
  }

  /* Main-part-02 */

  .main-02{

    width: 1140px;
    height: 775px;
    margin: 0 auto;
    margin-bottom: 150px;
  }

  .video-part{

    margin-top: 50px;
    padding: 32px;
    background: rgb(255, 255, 255);
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    margin-bottom: 50px;
  }

  /* Main Part 03 */

  .main-03{

    width: 1140px;
    height: 460px;
    margin-bottom: 150px;
  }

  .container{
    
    display: flex;
    gap: 25px;
    justify-content: center;
    margin-top: 50px;
    margin: 0 auto;
    margin: 0px 150px;
    margin-bottom: 150px;
  }

  .container-part{

    margin-top: 50px;
    padding: 50px;
    border-radius: 16px;
    
    }

  .container-01{

    background: rgba(255, 76, 30, 0.05);

    }
  .container-02{
    background: rgba(0, 76, 232, 0.05);
  }

  .container-03{

    background: rgba(255, 223, 0, 0.05);
  }

  .header-09{

    font-weight: 600;
    font-size: 24px;
  }

  .link-01{

    font-size: 16px;
    font-weight: 700;
    text-decoration-line: underline;
    color: rgb(13, 19, 33);
  }

  .para-09{

    font-size: 16px;
    font-weight: 400;
    color: #0D1321;
  }

  /* Main Part 04 */

  .main-07{

    
    width: 1140px;
    height: 313px;
    background-image: url("../assets/handshake.jpg");
    background-position: center;
    border-radius: 16px;
    background: rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2);
    margin-top: 100px;
    text-align: center;
    margin: 0 auto;
    
    
    
  }

  .container-09{
    margin-top: 50px 150px;
    text-align: center;
    border-radius: 16px;
    background: rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2);
    padding: 64px 48px 64px 48px;

  }

  .header-11 {

    font-size: 32px;
    font-weight: 700;
    color: rgb(255, 255, 255);
  }

  .para-11{

    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
  }