.azeret-mono-normal {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
  }

  /* Common Styles */

  .btn-primary{

    width: 244px;
    height: 57px;
    color: #0D1321;
    border-radius: 7px;
    padding: 17px 25px;
    font-size: 20px;
    font-weight: 70;
    background-color: white;
    border: 1px solid rgb(13, 19, 33);
  }

  .paragraph-description{

    font-weight: 300;
    font-size: 16px;
    color: #0D1321;
  }

  /* Header Part */

  .header-01{

    display: flex;
    justify-content: space-around;
    margin-top: 38px;
    margin-bottom: 50px;
    
  }
  .header-02{

    width: 1440px;
    height: 652px;
    text-align: center;
    background-image: url(../assets/Hero-bg.png);
    padding-top: 50px;
  }

  .button-02{

    background-color: black;
    color: white;
  }

  .banner-part{

    margin-top: 30px;
    width: 998px;
    height: 581px;
    margin: 0 auto;
  }

  .header-title{

    width: 998px;
    height: 136px;
    font-weight: bolder;
    font-size: 48px;
    color: #0D1321;
    padding-bottom: 2px;
  }

  .para-01{
    width: 852px;
    height: 52px;
   margin: 0 auto;
   margin-bottom: 32px;
  }